@import "vars";
@import "mixin";

.achievements {
  background-color: #95e1d3;
  color: #fff;
  h2 {
    font-size: 64px;
    padding-bottom: 20px;
    @include small-desktop {
      font-size: 72px;
    }
  }
  h5 {
    padding-bottom: 10px;
    color: #fff;
    text-align: center;
    @include to-desktop {
      line-height: 1.2em;
    }
  }
  .col {
    border-bottom: 1px solid #fff;
    min-height:  160px;
    &:last-child {
      border-right: 1px solid #fff;
    }
    @include large-mobile {
      min-height:  200px;
      border-bottom: none;
      border-left: 1px solid #fff;
      flex-basis: 0;
    }
    @include small-desktop {
      min-height:  270px;
    }
  }
}