@import "vars";
.animation {
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes show-from-right {
  0% { right: -100px; }
  50% { right: 30px; }
  100% { right: 0; }
}
@keyframes hide-to-right {
  0% { right: 0; }
  25% { right: 30px; }
  50% {  right: -100px; }
  100% { display: none;  }
}

@keyframes close-accordion {
  0% { height: $height-accordion-item; }
  100% {
    height: 0;
  }
}

@keyframes open-accordion {
  0% { height: 0 }
  100% { height: $height-accordion-item;  }
}
.open-search {
  animation-name: open-search;
}
.close-search {
  animation-name: close-search;
}

@keyframes open-search {
  0% {
    width: 0;
    padding: 0;
    opacity: 0;
  }
  100% {
    width: 120px;
    padding: 5px;
    opacity: 1;
  }
}

@keyframes close-search {
  0% {
    width: 120px;
    padding: 5px;
    opacity: 1;
  }
  100% {
    width: 0;
    padding: 0;
    opacity: 0;
  }
}

.open-map {
  animation-name: open-map;
}
.close-map {
  animation-name: close-map;
}

@keyframes open-map {
  0% {
    top: 100%
  }
  100% {
    top: 0
  }
}

@keyframes close-map {
  0% {
    top: 100%
  }
  100% {
    top: 0;
  }
}