@import "vars";
@import "mixin";

.carousel {
  position: relative;
  &-wrapper {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }
  &-wrapper,
  &-item {
    width: 100%;
    max-width: 280px;
    @media screen and (min-width:  375px){
      max-width: 340px;
    }
    @include large-mobile {
      max-width: 550px;
    }
    @include tablet {
      min-height: 290px;
      max-width: 600px;
    }
    @include small-desktop {
      max-width: 860px;
    }
    @include desktop {
      max-width: 1100px;
    }
  }
  &-track {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    cursor: pointer;
    width: 10000px; //max width of carousel track
    &.transition {
      transition: left 0.5s ease-in-out;
    }
  }
  &__arrow {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;
    cursor: pointer;
    &.arrow-prev {
      left: -10px;
      transform: rotate(-45deg);
      @include small-desktop {
        left: 25px;
      }
    }
    &.arrow-next {
      right: -10px;
      transform: rotate(135deg);
      @include small-desktop {
        right: 25px;
      }
    }
  }
}

.carousel-item {
  align-items: center;
  @include only-small-mobile {
    padding: 50px 0;
    text-align: center;
  }
  &__desc {
    font-style: italic;
    font-size: 18px;
    padding-top: 10px;
    @include small-mobile {
      padding: 10px 10px 0;
    }
    @include small-desktop {
      font-size: 24px;
    }
    p {
      line-height: 1.5em;
      padding-bottom: 10px;
    }
    h3 {
      &:before {
        @include large-mobile {
          @include pseudo-elem(inline-block);
          @include line($secondary-color);
          margin: 0 10px 6px 0;
        }
      }
      &:after {
        @include only-small-mobile {
          @include pseudo-elem(block);
          @include line($secondary-color);
          margin: 10px auto 0;
        }
      }
      @include only-small-mobile {
        padding-top: 20px;
      }
    }
  }
  .col {
    @include tablet {
      flex-basis: 0;
    }
    @include desktop {
      flex-basis: auto;
    }
  }
  .img-box {
    @include only-small-mobile {
      margin: 0 auto 10px;
    }
    &.bordered {
      width: 110px;
      height: 110px;
      @include tablet {
        width: 145px;
        height: 145px;
      }
      @include small-desktop {
      margin: 0 auto;
      }
    }
    &.circle {
      width: 155px;
      height: 155px;
      @include small-desktop {
        width: 215px;
        height: 215px;
      }
    }
  }
}

.grey-bg {
  background-color: #f8f8f8;
}

.carousel-section {
  align-items: center;
  -ms-flex-align: center;
  min-height: 200px;
  &:after,
  .carousel-item:after {
    content:'';
    min-height:inherit;
    font-size:0;
  }
    .img-box {
      @include only-large-mobile {
      margin: 10px 0 0 10px;
      }
    }
}

.carousel-reviews {
  min-height: 340px;
  @extend .carousel-section;
  @include small-desktop {
   min-height: 400px;
    margin-bottom: 35px;
  }

  .carousel-wrapper,
  .carousel-item {
    @include desktop {
      max-width: 1035px;
    }
  }
  .carousel-item__desc {
    @include only-large-mobile {
      margin-left: 30px;
    }
  }
}