@import "vars";
@import "mixin";

.form {
  &-subscribe {
    width: 100%;
    max-width: 380px;
    padding-top: 30px;
    white-space: nowrap;
  }
  &__item {
    font-style: italic;
    padding: 0 15px;
    border: 1px solid #e7e7e7;
    border-right: none;
    width: 170px;
    @include small-mobile {
      width: 200px;
    }
    @include desktop {
      width: 230px;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #ccc;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #ccc;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #ccc;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #ccc;
    }
    &:focus {
      &::-webkit-input-placeholder {
        opacity: 0;
      }
    }
    &:focus {
      &::-moz-placeholder {
        opacity: 0;
      }
    }
    &:focus {
      &:-ms-input-placeholder {
        opacity: 0;
      }
    }
    &:focus {
      &:-moz-placeholder {
        opacity: 0;
      }
    }
  }
  @include to-sm-desktop {
    padding-bottom: 40px;
  }
}