@import "vars";
@import "mixin";

.map {
  height: 200px;
  background: #999 url("../images/map.jpg") no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 0;
  &:after {
    @include pseudo-elem(block);
    @include line($secondary-color);
  }
  &__link {
    background: none;
    border: none;
    font: bold 24px/1 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: $secondary-color;
    padding: 20px 0;
  }
  &__overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 100%;
  }
}
