@import "vars";
@import "mixin";

.reviews {
  background: #999  url('../images/nature-grey-bg.jpg') no-repeat;
  background-size: cover;
  padding: 40px 0;
  @include tablet {
    padding: 70px 0 40px;
  }
  @include small-desktop {
    padding: 100px 0 70px;
  }
  &-container {
    @include large-mobile {
      padding-top: 40px;
    }
  }
  @include tablet {
    .col {
      flex-basis: 0;
    }
  }
  &__row {
    @include only-small-mobile {
      text-align: center;
    }
    @include tablet {
      padding-bottom: 60px;
    }
    .row {
      padding: 0 10px;
      @include desktop {
        padding: 0 40px;
      }
      &>.col {
        @include only-large-mobile {
          padding-bottom: 20px;
        }
      }
    }
  }
  &__text {
    @include only-mobile {
      padding: 20px;
    }
    @include large-mobile {
      padding: 5px 0 0 20px;
    }
    @include desktop {
      padding: 15px 0 0 10px;
    }
    h5 {
      padding-bottom: 5px;
      @include large-mobile {
        padding-bottom: 10px;
      }
    }
    h6 {
      font-weight: 300;
      font-style: italic;
    }
    p {
      &:before {
        @include pseudo-elem(block);
        @include line($secondary-color);
        margin: 5px auto;
        @include small-mobile {
          margin: 10px auto;
        }
        @include large-mobile {
          margin: 10px 0;
        }
        @include small-desktop {
          margin: 15px 0 20px;
        }
      }
    }

  }
  .img-box {
    width: 90px;
    height: 90px;
    @include only-mobile {
      margin: 0 auto;
    }
    @include small-desktop {
      width: 115px;
      height: 115px;
    }
  }
}
