.icon, .logo {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.icon {
  background: url('../images/sprite.png') no-repeat;
}

.icon-alarm {
  background-position: -2px -0px;
  width: 32px;
  height: 31px;
}
.icon-book {
  background-position: -2px -33px;
  width: 32px;
  height: 32px;
}
.icon-bullseye {
  background-position: -2px -67px;
  width: 32px;
  height: 32px;
}
.icon-graph {
  background-position: -2px -101px;
  width: 32px;
  height: 32px;
}
.icon-home {
  background-position: -2px -135px;
  width: 32px;
  height: 31px;
}
.icon-image {
  background-position: -2px -168px;
  width: 32px;
  height: 32px;
}
.icon-white-graph {
  background-position: -2px -202px;
  width: 32px;
  height: 32px;
}
.icon-ok {
  background-position: -2px -236px;
  width: 32px;
  height: 28px;
}
.icon-users {
  background-position: -2px -266px;
  width: 32px;
  height: 23px;
}
.icon-picture-white {
  background-position: -2px -291px;
  width: 30px;
  height: 30px;
}
.icon-picture {
  background-position: -2px -323px;
  width: 30px;
  height: 30px;
}
.icon-equalizer {
  background-position: -2px -355px;
  width: 28px;
  height: 32px;
}
.icon-pin {
  background-position: -2px -389px;
  width: 20px;
  height: 26px;
}
.icon-view {
  background-position: -2px -417px;
  width: 20px;
  height: 12px;
  vertical-align: text-top;
}
.icon-cart {
  background-position: -2px -431px;
  width: 18px;
  height: 15px;
  vertical-align: text-top;
}
.icon-glass {
  background-position: -2px -468px;
  width: 18px;
  height: 18px;
}
.icon-bubble {
  background-position: -2px -488px;
  width: 16px;
  height: 15px;
}


