@import  "vars";
@import "mixin.scss";
@import "fonts.scss";

body {
  font: 15px/1.6 'Roboto', sans-serif;
  color:  #333;
}

a {
  color:  #333;
}
h2 {
  font: bold 30px/1 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Kaushan Script', sans-serif;
}

h4 {
  font: bold 18px/1 'Montserrat', sans-serif;
}

h4, h5 {
  text-transform: uppercase;
}

h5 {
  font: 600 14px/1 'Montserrat', sans-serif;
}

p {
  color: #999;
}

a,
button {
  cursor: pointer;
}

.followers-count {
  text-transform: none;
  padding-bottom: 20px;
  span {
    font-size: 15px;
  }
}

.btn {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
  font: bold 14px/1 'Montserrat', sans-serif;
  background-color: $accent-color;
  height: 40px;
  padding: 0 15px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  @include desktop {
    min-width: 150px;
  }
}

.instagram {
  display: grid;
  grid-template-columns: 88px 88px 88px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2px;
  margin-bottom: 15px;
  .img-box {
    width: 88px;
    height: 88px;
  }
&-link {
  font-style: italic;
  font-size: 13px;
  margin-top: 20px;
}
}

.hidden {
  display: none;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 5px;
  height: 0px
}

html::-webkit-scrollbar-track {
  background-color: #fff;
}

html::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: $accent-color;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: $accent-color;
}

html::-webkit-resizer {
  background-repeat: no-repeat;
  width: 8px;
  height: 0px
}

html::-webkit-scrollbar {
  width: 8px;
}


